<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/location.css">
    <title>User Location</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="admin-profile">
                <div class="profile-image">
                    <img src="/static/image/admin-profil.jpg" alt="Admin Profile Picture">
                </div>
                <h2>User 1</h2>
            </div>
            <nav class="sidebar-nav">
                <a class="nav-item" href="/overview">Overview</a>
                <a class="nav-item" href="/deviceinfo">Device Info</a>
                <a class="nav-item" href="/history">History</a>
                <a class="nav-item" href="/network">Network</a>
                <a class="nav-item active" href="/location">Location</a>
                <a class="nav-item" href="/passcookies">Pass Cookies</a>
            </nav>
            <div class="logout-section">
                <a href="/logout" class="logout-btn">
                    <img src="/static/image/logout-icon.png" alt="Logout Icon" class="logout-icon">
                    Logout
                </a>
            </div>
        </aside>

        <main class="info-grid">
            <h1 class="title">User Location</h1>
            <div class="location-container">
                <iframe 
                    src="https://www.google.com/maps?q=3WXm%2B84G,%20Tj.%20Riau,%20Kec.%20Sekupang,%20Kota%20Batam,%20Kepulauan%20Riau&hl=en&z=12&output=embed" 
                    width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <p class="location-info">3WXM+84G, Tj. Riau, Kec. Sekupang, Kota Batam, Kepulauan Riau</p>
            </div>
        </main>
    </div>
</body>
</html>
