<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/passcookies.css">
    <title>Password Cookies - User Settings</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="admin-profile">
                <div class="profile-image">
                    <img src="/static/image/admin-profil.jpg" alt="Admin Profile Picture">
                </div>
                <h2>Admin</h2>
            </div>
        </header>
        <aside class="sidebar">
            <nav class="sidebar-nav">
                <a class="nav-item" href="/overview">Overview</a>
                <a class="nav-item" href="/deviceinfo">Device Info</a>
                <a class="nav-item" href="/history">History</a>
                <a class="nav-item" href="/network">Network</a>
                <a class="nav-item" href="/location">Location</a>
                <a class="nav-item active" href="/passcookies">Pass Cookies</a>
            </nav>
            <div class="logout-section">
                <a href="/logout" class="logout-btn">
                    <img src="/static/image/logout-icon.png" alt="Logout Icon" class="logout-icon">
                    Logout
                </a>
            </div>
        </aside>

        <main class="info-grid">
            <h1 class="title">Password Cookies</h1>
            <div class="grid-container"> 
                <div class="info-box gray">
                    <div>
                        <p><strong>Username:</strong></p>
                        <p><strong>Password:</strong></p>
                        <p><strong>Url:</strong></p>
                    </div>
                </div>

                <div class="info-box gray">
                    <div>
                        <p><strong>Username:</strong></p>
                        <p><strong>Password:</strong></p>
                        <p><strong>Url:</strong></p>
                    </div>
                </div>

                <div class="info-box gray">
                    <div>
                        <p><strong>Username:</strong></p>
                        <p><strong>Password:</strong></p>
                        <p><strong>Url:</strong></p>
                    </div>
                </div>

                <div class="info-box gray">
                    <div>
                        <p><strong>Username:</strong></p>
                        <p><strong>Password:</strong></p>
                        <p><strong>Url:</strong></p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
